/* General Demo Style */
@import url(https://fonts.googleapis.com/css?family=Lato:300,400|Homemade+Apple:400);

html { height: 100%; }

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

body {
    font-family: 'Lato', Helvetica, Calibri, Arial, sans-serif;
    background: #eee;
    font-weight: 300;
    font-size: 1.2em;
    color: #333;
    -webkit-font-smoothing: antialiased;
    overflow-y: scroll;
    overflow-x: hidden;
}

a {
	color: #333;
	text-decoration: none;
}

a:hover {
	color: #555;
}

.container {
	width: 100%;
	position: relative;
}

.main {
	padding: 0px 20px 100px 20px;
	max-width: 1580px;
	margin: 0 auto;
}

.main > header {
	padding: 0 10px 30px;
}

.main > header h1 {
	font-family: 'Homemade Apple', Helvetica, Calibri, Arial, sans-serif;
    font-size: 2.5em;
    font-weight: 400;
	margin: 0;
	float: left;
}

.main > header img {
	float: right;
	height: 4em;
	margin-top: 0.5em;
}

.info,
.moreinfo {
	padding: 0.5em;
	background: #ddd;
	color: #333;
	text-align: center;
	margin: 10px 4px;
	clear: both;
}

.moreinfo p {
	margin-bottom: 0.4em;
	line-height: 1.4em;
	margin: 0 6em 0.4em 6em;
}

.moreinfo {
	display: none;
}

.info {
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 400;
	cursor: pointer;
}

@media only screen and (max-width : 700px) {
  .main > header h1 {
    font-size: 2em;
  }
  .main > header img {
    height: 3em;
  }
  .info {
  	font-size: 0.8em;
  }
}

@media only screen and (max-width : 500px) {
  .main > header h1 {
    clear: both;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
  }
  .main > header img {
    display: none;
  }
  .moreinfo p {
  	margin: 0 0.8em 0.4em 0.8em;
  }
}


footer {
	padding: 2em 0 2em 0;
	background: #333;
	color: #eee;
	text-align: center;
	font-size: 0.8em;
}

footer a {
    color: #eee;
}

footer ul {
	margin-bottom: 1.5em;
	padding: 0;
	list-style-type: none;
}

footer ul li {
	padding: 0.4em;
	font-size: 1.2em;
	display: inline;
}

/* Header Style */
.codrops-top {
	line-height: 24px;
	font-size: 11px;
	background: #fff;
	background: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}

.codrops-top a {
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	text-shadow: 0 -1px 0 #fff;
	display: inline-block;
}

.codrops-top a:hover {
	background: rgba(255,255,255,0.8);
	color: #000;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

/* Demo Buttons Style */
.codrops-demos {
	float: right;
	padding-top: 10px;
}

.codrops-demos a {
    display: inline-block;
    margin: 10px;
    color: #666;
    font-weight: 700;
    line-height: 30px;
    border-bottom: 4px solid transparent;
}

.codrops-demos a:hover {
	color: #000;
	border-color: #000;
}

.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover {
	color: #aaa;
	border-color: #aaa;
}

.support-note span{
	color: #ac375d;
	font-size: 16px;
	display: none;
	font-weight: bold;
	text-align: center;
	padding: 5px 0;
}
